{% extends "patientBase.html" %}
{% block content %}
<h2>Muokkaa aiemmin luomaasi hoitopyyntöä</h2><hr>
<form method="post" action="{{base_path}}/potilas/hoitopyynto/{{pyynto.id}}">
    <div class="form-group">
        <label>{{pyynto.oireet}}</label><br><br><hr>
        <textarea rows="4" cols="50" name="oireet"></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-xs">Päivitä</button>
</form>
<a class="button-wrapper" href="{{base_path}}/potilas"><button type="submit" class="btn btn-xs">&ensp;Peru&ensp;</button></a>
{% endblock %}