{% extends "patientBase.html" %}
{% block content %}
<h3>Muokkaa aiemmin luomaasi hoitopyyntöä</h3>
{% if errors %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<hr><form method="post" action="{{base_path}}/potilas/hoitopyynto/{{pyynto.id}}">
    <div class="form-group">
        <p><b>Päivitettävät oireet:</b> {{pyynto.oireet}}</p><hr>
        <textarea rows="4" cols="50" name="oireet"></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-xs">Päivitä</button>
</form>
<a class="button-wrapper" href="{{base_path}}/potilas"><button type="submit" class="btn btn-xs">&ensp;Peru&ensp;</button></a>
{% endblock %}