{% extends "patientBase.html" %}
{% block content %}
<h3>Kuvaile havaitsemiasi oireita lyhyesti</h3>
<br/>
{% if errors %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/potilas/new">
    <div class="form-group">
        <textarea name="oireet" rows="4" cols="50" placeholder="Kurkkukipu, sydänvaivat, psyykkiset oireet..."></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-xs">Lähetä</button>
</form>
<a class="button-wrapper" href="{{base_path}}/potilas"><button type="submit" class="btn btn-xs">&ensp;Peru&ensp;</button></a>
{% endblock %}