{% extends "doctorBase.html" %}
{% block content %}
<h3>Kotikäyntiraportin asetus</h3>
<hr>
<p><strong>Olemassaoleva raportti: </strong>{{pyynto.raportti}}</p><hr>
<form method="POST" action="{{base_path}}/laakari/updatereport">
    <div class="form-group">
        <p><strong>Potilaan antamat oireet: </strong>{{pyynto.oireet}}</p><hr>
        <textarea rows="4" cols="50" name="raportti"></textarea>
    </div>
    <input name="pyynto_id" value="{{pyynto.id}}" type="hidden">
    <button type="submit" class="btn btn-success btn-xs">Päivitä</button>
</form>
<a class="button-wrapper" href="{{base_path}}/laakari"><button type="submit" class="btn btn-xs">&ensp;Peru&ensp;</button></a>
{% endblock %}