{% extends "doctorBase.html" %}
{% block content %}
<h2>Muokkaa hoito-ohjeita</h2>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<hr>
<p><strong>Olemassaolevat hoito-ohjeet: </strong>{{pyynto.ohje}}</p><hr>
<form method="POST" action="{{base_path}}/laakari/updateinstructions">
    <div class="form-group">
        <p><strong>Potilaan antamat oireet: </strong>{{pyynto.oireet}}</p><hr>
        <textarea rows="4" cols="50" name="ohje"></textarea>
    </div>
    <input name="pyynto_id" value="{{pyynto.id}}" type="hidden">
    <button type="submit" class="btn btn-success btn-xs">Päivitä</button>
</form>
<a class="button-wrapper" href="{{base_path}}/laakari"><button type="submit" class="btn btn-xs">&ensp;Peru&ensp;</button></a>
{% endblock %}