{% extends "doctorBase.html" %}
{% block content %}

<h1>Lääkärin {{etunimi}} {{sukunimi}} etusivu</h1>
<br/>
<h2>Vapaat hoitopyynnöt</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Pyynnön ID</th>
            <th>Viimeksi muokattu</th>
            <!--PotilasId -> Potilaan nimi-->
            <th>Potilas</th>
            <th>Oireet</th>
            <th>Kotikäynti</th>
        </tr>
    </thead>
    <tbody>
        {% for pyynto in pyynnot %}
        <tr>
            <td>{{pyynto.id}}</td>
            <td><label class="label label-success">{{pyynto.luontipvm}}</label></td>
            <td>{{pyynto.potilas_id}}</td>
            <td><a class="btn-info btn btn-xs" href="{{base_path}}/laakari/hoitopyynto/{{pyynto.id}}/read">Lue</a></td>
            <td>
                <!-- ID Piilotettu formin sisään materiaalin tempun avulla -->
                <form method="POST" action="{{base_path}}/laakari/accept">
                    <input name="pyynto_id" value="{{pyynto.id}}" type="hidden">
                    <button type="submit" class="btn btn-success btn-xs">Suorita</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<hr>
<h2>Hoitotapahtumat</h2>
<h4>Hoitoraportointi</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>PyyntoID</th>
            <th>Pyynnön luontipäivä</th>
            <th>Potilas</th>
            <th>Käynti suoritettu</th>
            <th>Raportti</th>
        </tr>
    </thead>
    <tbody>
        {% for hpyynto in hyvaksytytHoitopyynnot %}
        <tr>
            <td>{{hpyynto.id}}</td>
            <td><label class="label label-success">{{hpyynto.luontipvm}}</label></td>
            <td>{{hpyynto.potilas_id}}</td>
            <td><label class="label label-success">{{hpyynto.kayntipvm}}</label></td>
            {% if hpyynto.raportti %}
            <td><a class="btn-success btn btn-xs" href="{{base_path}}/laakari/hoitopyynto/raportti/{{hpyynto.id}}">Muokkaa</a></td>
            {% else %}
            <td><a class="btn-danger btn btn-xs" href="{{base_path}}/laakari/hoitopyynto/raportti/{{hpyynto.id}}">&ensp;&ensp;Luo&ensp;&ensp;</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
<h4>Hoito-ohjeistus</h4>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>PyyntoID</th>
            <th>Potilas</th>
            <th>Ohje</th>
        </tr>
    </thead>
    <tbody>
        {% for hpyynto in hyvaksytytHoitopyynnot %}
        <tr>
            <td>{{hpyynto.id}}</td>
            <td>{{hpyynto.potilas_id}}</td>
            {% if hpyynto.ohje %}
            <td><a class="btn-success btn btn-xs" href="{{base_path}}/laakari/hoitopyynto/{{hpyynto.id}}/edit">Muokkaa</a></td>
            {% else %}
            <td><a class="btn-danger btn btn-xs" href="{{base_path}}/laakari/hoitopyynto/{{hpyynto.id}}/edit">Luo</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
