{% extends "base.html" %}
{% block content %}
<h1>MediHome</h1>
<h4>Lääkärin kirjautuminen</h4>
<hr>
{% if failuretologin %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {{failuretologin}}
    </ul>
</div>
{% endif %}
<form method="POST" action="{{base_path}}/login/d" class="inputFieldCustomWidth">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="username" value="{{username}}" class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana</label>
        <input name="password" class="form-control" type="password">
    </div>
    <button type="submit" class="btn btn-primary btn">Kirjaudu</button>
</form>
{% endblock %}