{% extends "base.html" %}
{% block content %}
<h1>Potilaan Anton Moroz etusivu</h1>
<br/>

<h2>Hoitopyyntösi</h2>
<!-- Listataan voimassaolevia hoitopyyntöjä tässä -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pyynnön luontipäivä</th>
            <th>Lääkäri</th>
            <th>Kotikäynti</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>30.10.2017</td>
            <td></td>
            <td></td>
            <td><button type="submit" class="btn btn-default btn-link btn-xs">Päivitä</button></td>
            <td><button type="submit" class="btn btn-danger btn-xs">X</button></td>
        </tr>
        <tr>
            <td>50</td>
            <td>1.11.2017</td>
            <td>Viktor Moroz</td>
            <td>2.11.2017</td>
            <td><button type="submit" class="disabled btn btn-default btn-link btn-xs">Päivitä</button>
            <td><button type="submit" class="disabled btn btn-danger btn-xs">X</button>
        </tr>
    </tbody>
</table>
<br/>
<h2>Voimassaolevat hoito-ohjeet</h2>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>PyyntoID</th>
            <th>Luontipäivä</th>
            <th>Lääkäri</th>
            <th>Sisältö</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>50</td>
            <td>4.11.2017</td>
            <td>Viktor Moroz</td>
            <td><button type="submit" class="btn btn-default btn-link btn-xs">Lue</button></td>
        </tr>
    </tbody>
</table>

{% endblock %}