{% extends "base.html" %}
{% block content %}
<h1>MediHome</h1>
<hr>
{% if failuretologin %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {{failuretologin}}
    </ul>
</div>
{% endif %}
{% if success %}
<div class="alert alert-success">
    <ul class="list-unstyled">
        {{success}}
    </ul>
</div>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form method="POST" action="{{base_path}}/login" class="inputFieldCustomWidth">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="username" value="{{username}}" class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana</label>
        <input name="password" class="form-control" type="password">
    </div>
    <p>Uusi käyttäjä? <a href="{{base_path}}/register">rekisteröidy</a></p>
    <button type="submit" class="btn btn-primary btn">Kirjaudu</button>
</form>
{% endblock %}